body {
    margin: 50px;
}

.hero-section {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.hero-section h1{
    font-size: 8rem;
}

.hero-list {
    padding: 2%;
    align-self: stretch;
    flex: 0 0 40%;
    background-color: #adc145;
}

.hero-section {
    flex: 0 0 60%;
}

.images {
    
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.images img {
    width: 18%
}